@import url('https://fonts.googleapis.com/css2?family=ubuntu')

* {
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('./DSCF5174.jpg') no-repeat center center/cover;
    position: absolute;
    top: -32px;
    left: -32px;
    width: calc(100vw + 64px);
    height: calc(100vh + 64px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    color: #fff;
    font-size: 48px;
}